<form>
  <div class="form-group row">
    <label class="col-form-label">Feladat típus:</label>
    <div class="col-sm-10">
      <select id="typesearch" class="form-control" style="max-width: 300px; height: 30px;">
        <option value="0">Összes típus</option>
        <option *ngFor="let label of labels" value={{label}}>
          {{label.text}}
        </option>
      </select>
    </div>
  </div>
</form>
<form>
  <div class="form-group row">
    <label class="col-form-label">Feladat szöveg:</label>
    <div class="col-sm-10">
      <input id="textSearch" type="text" class="form-control" style="max-width: 300px; height: 30px;">
    </div>
  </div>
</form>

<button mat-stroked-button (click)="createNewTask()" style="margin:20px;" class="btn btn-dark">Új feladat felvitele</button>

<button mat-stroked-button
        (click)="onSearch()" class="btn btn-dark">
  Keresés
</button>
<p *ngIf="!allTasks"><em>Loading...</em></p>

<table id="example" class="table table-striped table-bordered" style="width:100%" aria-labelledby="tableLabel" *ngIf="allTasks">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Név</th>
      <th scope="col">Nehézségi szint</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of actuallySeenTasks">
      <th scope="row">{{task.id}}</th>
      <td>{{ task.title }}</td>
      <td>{{ task.difficulty}}</td>
    </tr>
  </tbody>
  <tfoot>
      <tr>
          <th>#</th>
          <th>Név</th>
          <th>Nehézségi szint</th>
      </tr>
  </tfoot>
</table>



