.textAreaColumn {
  width: 100%;
}

  .textAreaColumn div {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }

    .textAreaColumn div span {
      display: block;
      text-align: center;
    }

    .textAreaColumn div textarea {
      box-sizing: border-box;
      width: 100%;
      min-height: 150px;
    }
