<app-navigator></app-navigator>
<div class="example-container" style="padding-top: 70px;">
    <div class="row">
        <div class="col"><app-file-hierarchy [newTaskLocation]="rootMapName"></app-file-hierarchy></div>
        <div class="col-8">
       
  <div class="row">
    <div class="col-sm">
      <label>Feladat neve: </label>
    </div>
    <div class="col-sm">
      <label> 1. teszt, átlagos pontok a teszteken: 23 </label>
    </div>
    <div class="col-sm">
      <label> Összes teszt: 4 </label>
    </div>
    <div class="col-sm">
      <label> Összes pont: 76 </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <label>Bemenet feltöltése (in.x): </label>
      <div class="col"> <app-add-upload [rootMapName]="rootMapName" [isTest]="isTest" [fileType]="inFileType"></app-add-upload>
      </div>
    </div>
    <div class="col-sm">
      <label>Kimenet feltöltése (out.x): </label>
      <div class="col"> <app-add-upload [rootMapName]="rootMapName" [isTest]="isTest" [fileType]="outFileType"></app-add-upload>
      </div>

    </div>
  </div>
  <div class="row">
  <div class="textAreaColumn">
    <div class="form-group shadow-textarea">
      <!-- <span class="glyphicon glyphicon-searc" aria-hidden="true"></span>-->
      <i class="fas fa-pencil-alt prefix"></i>
      <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" cols="30" rows="20" placeholder="Teszt bemenetének szerkesztése..."></textarea>

    </div>

    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" cols="30" rows="20" placeholder="Teszt elvárt kimenetének szerkesztése..."></textarea>
    </div>
  </div>
</div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Teszt pontszáma: </label>
      <div class="col-sm-10">
        <input class="form-control" style="max-width: 150px; height: 30px;">
      </div>
    </div>
    <div class="col-sm ">
      <div class="text-right">
        <button mat-stroked-button class="btn btn-dark" style="margin:20px;">Mentés</button>
      </div>

    </div>
 
</div>
</div>
</div>


