<app-navigator></app-navigator>
<div class="example-container" style="padding-top: 70px;">
<div class="row">
        <div class="col"><app-file-hierarchy [newTaskLocation]="rootMapName"></app-file-hierarchy>
        </div>
        <div class="col">
            <app-add-upload [rootMapName]="rootMapName" [isTest]="isTest" [fileType]="fileType"></app-add-upload>
        </div>
    </div>
</div>
