<app-navigator></app-navigator>
<div class="example-container" style="padding-top: 70px;">
        <div class="row">
        <div class="col"><app-file-hierarchy [newTaskLocation]="rootMapName" [descriptions]="descriptions"></app-file-hierarchy></div>
        
  <div class="col-4">
    <div class="form-group shadow-textarea">
      <!-- <span class="glyphicon glyphicon-searc" aria-hidden="true"></span>-->
      <i class="fas fa-pencil-alt prefix"></i>
      <span for="exampleFormControlTextarea6">Feladat szövege</span>
      <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" cols="30" rows="20" placeholder="Írja ide a feladat szövegét..."></textarea>

    </div>
</div>

    <div class="form-group col-4">
      <span>Megjelenítés</span>
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" cols="30" rows="20" readonly>A szerkesztett szöveg megjelenítése</textarea>
    </div>
</div>

  <div>
    <div class="row">
      <div class="col"> <app-add-upload [rootMapName]="rootMapName" [isTest]="isTest" [fileType]="fileType"></app-add-upload>
      </div>
      <div class="col"> <button class="btn btn-dark" mat-stroked-button >Mentés</button>
      </div>
      </div>
  </div>
  </div>





