<app-navigator></app-navigator>
<form>
  <div class="example-container" style="padding-top: 70px;" >
      <div class="row">
      <div class="col"><app-file-hierarchy [newTaskLocation]="rootMapName"></app-file-hierarchy></div>
      <div class="col-8">
      <div class="form-group row">
      <label class="col-sm-2 col-form-label">Feladat neve: </label>
      <div class="col-sm-10">
        <input class="form-control" style="max-width: 300px; height: 30px;">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nehézségi szint: </label>
      <div class="col-sm-10">
        <input class="form-control" style="max-width: 300px; height: 30px;">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">Interaktív: </div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Memória limit: </label>
      <div class="col-sm-10">
        <input class="form-control" style="max-width: 300px; height: 30px;">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Futásidő: </label>
      <div class="col-sm-10">
        <input class="form-control" style="max-width: 300px; height: 30px;">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button mat-stroked-button style="margin:20px;" class="btn btn-dark">Minták feltöltése</button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button mat-stroked-button style="margin:20px;" class="btn btn-dark">Ellenörző feltöltése</button>
      </div>
    </div>
    <div class="text-right" >
      <button mat-stroked-button style="margin:20px;" class="btn btn-dark">Mentés</button>
    </div>
  </div>
  </div>
  </div>
</form>

