#hierarchy
{
    font-family: FontAwesome;
    width: 150px;
}
.foldercontainer, .file, .noitems
{
    display: block;
    padding: 5px 5px 5px 25px;
}
.folder
{
    color: orange;
}
.file
{
    color: black;
}
.folder, .file
{
    cursor: pointer;
}
.noitems
{
    display: none;
    pointer-events: none;
}
.folder:hover,.file:hover
{
    background: yellow;
}
.folder:before, .file:before
{
    padding-right: 10px;
}