
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div id="hierarchy">
<div class="foldercontainer">
        <span class="folder fa-folder-o" data-isexpanded="true">{{newTaskLocation}}</span>
        <div class="foldercontainer">
                <span class="folder fa-folder-o row" data-isexpanded="true">description</span>
                <span class="file row" *ngFor="let d of descriptions">{{d}}</span>
            </div>
            <div class="foldercontainer">
                    <span class="folder fa-folder-o row" data-isexpanded="true">solutions</span>
                </div>   
                <div class="foldercontainer">
                        <span class="folder fa-folder-o row" data-isexpanded="true">tests</span>
                    </div> 
</div>
</div>
