<nav class="navbar fixed-top navbar-dark bg-dark">

  <a class="nav-link" href="/tasks">Vissza</a>
  <a class="nav-link" href="/addtask">Markdown</a>

  <a class="nav-link" href="/addtaskpdf">PDF</a>

  <a class="nav-link" href="/addjson">Json</a>

  <a class="nav-link" href="/addtest">Tesztek</a>

  <a class="nav-link" href="/addsolution">Megoldás</a>

</nav>
